.testimonial__container {
  width: 750px;
}

.testimonial__card {
  background: var(--container-color);
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}

.testimonial__img {
  width: 60px;
  height: 60px;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.testimonial__name {
  font-size: var(--normal-font-size);
  font-weight: 500;
  margin-bottom: .25rem;
}

.testimonial__description {
  font-size: var(--small-font-size);

}

.swiper-pagination-bullet {
  background: var(--text-color) !important;
}
.swiper-pagination-bullet {
  background: var(--text-color) !important;
}

@media screen and (max-width: 992px) {
  .testimonial__container {
    width: initial;
  }

  .testimonial__card {
    padding: 1.25rem 1.5rem;
  }
}